/*VARIABLES*/
:root {
  --button-active: hsl(220, 98%, 61%);

  /*Dark Theme*/

  --background-image-mb: url("./images/bg-mobile-dark.jpg");
  --background-image-dt: url("./images/bg-desktop-dark.jpg");
  --background-color: hsl(235, 21%, 11%);
  --wrapper-bottom-placeholder-color: hsl(233, 14%, 35%);
  --color-header: hsl(234, 39%, 85%);
  --color-list-item: hsl(234, 39%, 85%);
  --color-list-item-hover: hsl(236, 33%, 92%);
  --color-list: hsl(234, 11%, 52%);
  --list-item-completed: hsl(233, 14%, 35%);
  --bg-color-list: hsl(235, 24%, 19%);
  --switch-bg-image: url("./images//icon-sun.svg");
  --opacity-button-clear: 1;
}
/*Light Theme*/
.lightMode {
  --background-image-mb: url("./images/bg-mobile-light.jpg");
  --background-image-dt: url("./images/bg-desktop-light.jpg");
  --background-color: hsl(233, 11%, 84%);
  --wrapper-bottom-placeholder-color: hsl(236, 9%, 61%);
  --color-list: hsl(236, 9%, 61%);
  --list-item-completed: hsl(233, 11%, 84%);
  --color-header: hsl(236, 33%, 92%);
  --bg-color-list: hsl(236, 33%, 92%);
  --color-list-item: hsl(235, 19%, 35%);
  --color-list-item-hover: hsl(237, 14%, 26%);
  --switch-bg-image: url("./images//icon-moon.svg");
  --opacity-button-clear: .5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  background-image: var(--background-image-mb);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 720px) {
  body {
    background-image: var(--background-image-dt);
    background-size: contain;
  }
}

h1 {
  color: var(--color-header);
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.5em;
  text-align: center;
}

.container__main {
  width: 90%;
  height: 90%;
}
@media (min-width: 720px) {
  .container__main {
    width: 50%;
  }
}

@media (min-width: 920px) {
  .container__main {
    width: 40%;
  }
}

.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
  margin-top: 2em;
}

@media (min-width: 920px) {
  .header__main {
    margin-top: 2.5em;
  }
}

.button,
.wrapper__input > p {
  cursor: pointer;
}

.button:hover,
.wrapper__input > p:hover {
  color: var(--color-list-item-hover);
}

.button__switch {
  background-color: transparent;
  background-image: var(--switch-bg-image);
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  width: 2rem;
  height: 2rem;
}

.todo-list {
  margin: 1em auto 0;
  list-style: none;
  line-height: 3em;
}

.todo-list,
#user-input {
  background: var(--bg-color-list);
  border: 1px solid transparent;
  border-radius: 5px;
  width: 100%;
  flex: 2;
}

#user-input {
  padding: 1em 1em 1em 4em;
  color: var(--color-list-item);
  font-family: "Josefin Sans", sans-serif;
}

#user-input::placeholder {
  font-family: "Josefin Sans", sans-serif;
  color: var(--wrapper-bottom-placeholder-color);
}

.wrapper__input {
  display: flex;
  align-items: center;
  position: relative;
}

.wrapper__input > p {
  padding-left: 1em;
  font-size: 16px;
  font-weight: 400;
}

.button__input,
.button__completed,
.button__clear {
  width: 1.5em;
  height: 1.5em;
}

.button__input,
.button__completed {
  background: var(--bg-color-list);
  border: 1px solid var(--wrapper-bottom-placeholder-color);
  border-radius: 50%;
}

.button__completed:hover {
  background: linear-gradient(var(--bg-color-list), var(--bg-color-list))
      padding-box,
    linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
  border: 1px solid transparent;
}
.checked>.wrapper__input>button {
  background: url("./images/icon-check.svg"), linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-repeat: no-repeat;
  background-position: center center;
}

.checked>.wrapper__input>p {
  color: var(--list-item-completed);
  text-decoration: line-through;
}

.button__input {
  position: absolute;
  left: 1.5em;
  z-index: 99;
}

.button__clear {
  background: url("./images/icon-cross.svg") no-repeat center center;
  border: none;
  opacity: var(--opacity-button-clear);
}

.todo-item {
  color: var(--color-list-item);
  border-bottom: 1px solid var(--wrapper-bottom-placeholder-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1em;
}

.wrapper__bottom {
  background: transparent;
  border-radius: 5px;
  font-size: 16px;
}

.wrapper__bottom__desktop {
  display: none;
}

@media (min-width: 1000px) {
  .wrapper__bottom {
    display: none
  }

  .wrapper__bottom__desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--bg-color-list);
    font-size: 16px;
    padding: 1em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .wrapper__bottom__desktop>p {
    color: var(--wrapper-bottom-placeholder-color);
  }
}

.button-left-container {
  background: var(--bg-color-list);
  border-radius: 5px;
 color: var(--wrapper-bottom-placeholder-color);
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.button__clear__all {
  color: var(--wrapper-bottom-placeholder-color);
}

.lists-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color-list);
  border-radius: 5px;
  margin-top: 1em;
  padding: 1em 5em;
}

@media (min-width: 1000px) {
  .lists-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 40%;
  }
}

.wrapper__drag {
  color: var(--color-list);
  font-size: 16px;
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

.button__list,
.button__clear__all,
.button-left-container > p {
  background: var(--bg-color-list);
  border: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

.button__list {
  color: var(--color-list);
}

.button__list.active,
.button__clear__all.active {
  color: var(--button-active);
}

footer {
  bottom: 0;
  height: 15px;
  position: fixed;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--color-list-item);
}

.attribution a {
  color: var(--color-list);
}
